
.title {
  position: absolute;
  top: -155px;
  display: flex;
  align-items: center;
}

.title h1 {
  position: relative;
  top: unset;
  font-size: 6rem;
}

img {
  height: 40px;
}

.todo {
  color: red;
}

.todo-list li.completed label {
  color: green;
  text-decoration: line-through;
}

.are-you-sure {
 color: #af9395;
}
.confirm {
  display: flex;
  justify-content: space-evenly;
}

.confirm button {
  background: #c7b7b7;
  padding: 1rem;
  border-radius: 1.5rem;
  font-weight: 400;
  color: #585809;
}


