
.title {
  position: absolute;
  top: -155px;
  display: flex;
  align-items: center;
}

.title h1 {
  position: relative;
  top: unset;
  font-size: 6rem;
}

img {
  height: 40px;
}

.todo {
  color: red;
}

.todo-list li.completed label {
  color: green;
  text-decoration: line-through;
}


